VNPOST_BASE_URL=http://localhost:3000
VNPOST_API_BASE_URL=http://localhost:8082
VNPOST_ACCOUNT=
VNPOST_PASSWORD=
VNPOST_SCOPE_LABEL=Admin
VNPOST_ORG_PARENT_CODE=
VNPOST_ORG_PARENT_NAME=Tổng công ty Bưu Điện Việt Nam
VNPOST_ALLOW_FINANCIAL_MUTATION=false
VNPOST_PAYMENT_ORDER_CODE=
VNPOST_MULTI_PAYMENT_ORDER_CODE=
VNPOST_ALLOW_DELIVERY_UNIT_CREATE=false
